.site-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}
img{
    width:20rem;
}
#pets{
    display:grid;
    grid-template-columns: repeat(3,1fr) ;
    column-gap: 1rem;
    row-gap: 1rem

}
.pet{
    border:1px solid black;
    border-radius: 8px;
    background-color: green;
    padding:1rem;
}
.delete-btn{
    border:none;
}



.hide{
    display:none;
}
.highlight{
    background-color:red;
}